<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD7TdTsxYooTfDISg6YBF1jJ-UHBr50Cr0</string>
	<key>GCM_SENDER_ID</key>
	<string>303937380531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sinokor.mobileEbiz</string>
	<key>PROJECT_ID</key>
	<string>mobile-ebiz</string>
	<key>STORAGE_BUCKET</key>
	<string>mobile-ebiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303937380531:ios:290456a82c944c3f3250c6</string>
</dict>
</plist>